name: kto_na_bibe
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.1
  flutter_spinkit: ^5.2.2
  firebase_auth: ^6.1.4
  cloud_firestore: ^6.1.2
  firebase_core: 
  google_sign_in: ^7.2.0
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:

  uses-material-design: true


  assets:
    - assets/
    - assets/icons/


  fonts:
    - family: PlaywriteNZBasic
      fonts: 
        - asset: assets/fonts/PlaywriteNZBasic-VariableFont_wght.ttf
    

